.card__section {
  margin-top: 20px;
}

.card {
  position: relative;
}

.card__name {
  text-align: center;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2px 12px;
  border-radius: 4px;
}

.card__image {
  width: 325px;
  height: 328px;
  border-radius: 10px;
  cursor: pointer;
}

.card__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card__content {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  top: 5%;
  left: 55%;
}

.card__like-button {
  background-image: url("../images/liked-default.svg");
  width: 20px;
  height: 18px;
  border: 2px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
  align-self: center;
  margin-left: 25px;
}

.card__like-button_active {
  background-image: url("../images/liked.svg");
  width: 20px;
  height: 18px;
  border: 2px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
  align-self: center;
  margin-left: 25px;
}

.card__like-button:hover {
  opacity: 60%;
}
