/* .sidebar {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  width: 229px;
  flex-direction: column;
} */

.sidebar__avatar-image {
  max-height: 56px;
  max-width: 56px;
}

.sidebar__name {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  background-color: #fff;
  border-style: none;
  cursor: pointer;
}
